{% extends "base.html" %}

{% block title %}Manager Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/manager.css">
{% endblock %}

{% block page_title %}Manager Dashboard{% endblock %}
{% block page_desc %}SmartWMS 운영 현황을 확인합니다.{% endblock %}

{% block content %}

<div class="cards">
    <div class="card">
        <p>전체 상품</p>
        <h2 id="total-products">0</h2>
        <span>Products</span>
    </div>

    <div class="card">
        <p>오늘 입고</p>
        <h2 id="today-inbound">0</h2>
        <span>Inbound</span>
    </div>

    <div class="card">
        <p>오늘 출고</p>
        <h2 id="today-outbound">0</h2>
        <span>Outbound</span>
    </div>

    <div class="card warning">
        <p>재고 부족</p>
        <h2 id="low-stock">0</h2>
        <span>Low Stock</span>
    </div>
</div>

<div class="charts">
    <div class="chart-box">
        <h2>Inventory Status</h2>
        <canvas id="inventoryChart"></canvas>
    </div>

    <div class="chart-box">
        <h2>Inbound / Outbound</h2>
        <canvas id="flowChart"></canvas>
    </div>
</div>

<div class="bottom-grid">
    <div class="panel">
        <div class="panel-header">
            <h2>Recent History</h2>
            <span>최근 입출고 내역</span>
        </div>

        <table>
					<thead>
					  <tr>
				      <th>Barcode</th>
			         <th>Product</th>
			         <th>Type</th>
			         <th>Qty</th>
			         <th>Time</th>
				     </tr>
					</thead>

			    <tbody id="recent-history-body">
			    </tbody>
        </table>
    </div>

    <div class="panel">
        <div class="panel-header">
            <h2>Low Stock Products</h2>
            <span>재고 부족 상품</span>
        </div>

        <div class="low-stock-list" id="low-stock-list">
           
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/manager.js"></script>
{% endblock %}
